.board {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.board-line {
    display: flex;
    flex-direction: row;
    flex-grow: 12.5%;
}

.board-cell {
    height: 100px;
    width: 100px;
    border-width: 2px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 52px;
}

.board-figure {
    cursor: pointer;
}

.background-white {
    background-color: #884;
}

.background-black {
    background-color: #00e;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.attacked {
    opacity: 0.4;
}

@font-face {
  font-family: FontAwesome;
  src: url(fa-regular-400.woff) format('woff'),
     url(fa-regular-400.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
